<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Bookstore</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header flex">
        <a class="btn-big btn-blue" href="/">Home</a>
        <h1>Bookstore</h1>
        <div class="flex">
            <a class="btn-big btn-green" href="/books/new">Add Book</a>
            <a style="margin-left: 5px;" class="btn-big btn-green" href="/authors/new">Add Author</a>
        </div>
    </div>
</header>