<%- include('partials/header') -%>
<main>
  <div class="index text-center">
    <p>select a category</p>
    <div class="list">
      <a class="btn-big btn-blue" href="/categories/fiction">fiction</a>
      <a class="btn-big btn-blue" href="/categories/adventure">adventure</a>
      <a class="btn-big btn-blue" href="/categories/technology">technology</a>
      <a class="btn-big btn-blue" href="/categories/motivation">motivation</a>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>
