<%- include('partials/header') -%>
<main>
  <div class="index text-center">
    <p>Welcome to Bookstore</p>
    <div class="list">
      <a class="btn-big btn-blue" href="/books">show books</a>
      <a class="btn-big btn-blue" href="/authors">show authors</a>
      <a class="btn-big btn-blue" href="/categories">show categories</a>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>
