<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>articles</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
</head>
<body>
<header>

</header>
<main>
    <div class="articleslist">
        <h1>List of Articles</h1>
        <ul>
            <% articlesList.forEach(article => { %>
                <a href="/articles/<%= article._id %>">
                    <h3><%= article.title %></h3>
                </a>
            <% }) %>
        </ul>
    </div>
</main>
<footer>

</footer>
</body>