<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>form</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
</head>
<style>
    .articleslist{
        margin-top: -3rem;
    }
</style>
<body>
<header>

</header>
<main>
    <div class="articleslist">
        <h1>Enter Article details</h1>
        <form action="/articles" method="post" class="articleform">
            <fieldset>
                <input type="text" name="title" id="" placeholder="enter title">
                <textarea name="description" id="" cols="30" rows="10" placeholder="enter description"></textarea>
                <input type="text" name="tags" id="" placeholder="enter tags">
                <input type="text" name="author" id="" placeholder="enter author">
                <input type="number" name="likes" id="" placeholder="enter likes">
                <input type="submit" value="add article and show list of articles">
            </fieldset>
        </form>
    </div>
</main>
<footer>

</footer>
</body>